.subheader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0 3%;
  background: whitesmoke;
  color: #555;
}


@media screen and (max-width:1000px) {
  .subheader {
    display: none;
  }
}